{% extends 'nmcc/navbar.html' %}

{% block title %}
Home Page
{% endblock %}

{% load static %}

{% block body %}
<div><br>
	<h2 style="color:red;text-align: center"><b>COVID-19<b></h2>

	<h4   style="color:white;text-align: center">Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.<br>
Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment.<br>COVID-19 is the disease caused by a new coronavirus called SARS-CoV-2. WHO first learned of this new virus on 31 December 2019, following a report of a cluster of cases of 'viral pneumonia' in Wuhan, People's Republic of China<br><br>


	<img style="background-color:#ffcc99;float:center;width:475px;" src="{% static 'images/ssp.png'%}" class="center">
	<br>
	<div >
		<h3 style="text-align: center;color:orange"><b>How it spreads</b></h3><br>
		<h4>
The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected person coughs, sneezes, or exhales. These droplets are too heavy to hang in the air, and quickly fall on floors or surfaces.
You can be infected by breathing in the virus if you are within close proximity of someone who has COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth<h4>
		<img style="background-color:#ffcc99;float:center;width:700px;height:205px;" src="{% static 'images/sp.png'%}" class="center">
		
			
		
	</div>
	<div>

		<h3 style="text-align: center;color:orange"><b>Prevention</b></h3>
		<h4>Measures to prevent transmission of COVID-19 that apply to all workplaces and all people at the workplace include frequent hand-washing or disinfection with alcohol based hand sanitizer, respiratory hygiene such as covering coughs, physical distancing of at least 1 metre or more according to the national recommendations, wearing of masks where distancing is not possible, regular environmental cleaning and disinfection, and limiting unnecessary travel. Clear policies and messages, training, and education for staff and managers to increase awareness of COVID-19 are essential. The management of people with COVID-19 or their contacts is also critical e.g. requiring workers who are unwell or who develop symptoms to stay at home, self isolate and contact a medical professional or the local COVID-19 information line for advice on testing and referral.</h4>
		<img style="background-color:#ffcc99;float:center;width:700px;height:200px;" src="{% static 'images/ps.png'%}" class="center"><br><br><br>

		
	</div>
	<div style="color:white">
		<h1><b>EMERGENCY CONTACT:</b></h1><br>
		Health Ministry:<a type="tel" style="color:white;">1075</a><br><br>

		Child care:<a type="tel" style="color:white;">1098</a><br><br>

		Mental Health:<a type="tel" style="color:white;">08046110007</a><br><br>

		Senior Citizens:<a type="tel" style="color:white;">14567</a><br><br>

		Ayush Covid-19 Counselling:<a type="tel" style="color:white;">14443</a><br><br>

		MyGov Whatsapp Helpdesk:<a type="tel" style="color:white;">9013151515</a><br><br>
	</div>
	<h5 style="text-align:center;color:white;border-radius:1000px;">@ssr-developers-2021</h5>
	<small>credits-sreeramdatta</small>
	</div>	
</div>

{% endblock %}