{% extends 'nmcc/navbar.html' %}

{% block title %}
Hospitals
{% endblock %}

{% load static %}

{% block body %}
<div style="background-image:url({% static 'images/hho.png'%});background-size:cover;"><br>
	<h1 style="color:white;text-align: center;">HOSPITALS IN AND AROUND KAKINADA</h1>
	<h3 style="color:white;text-align: center;"><b>15</b> private hospitals designated for COVID treatment in Kakinada, Rajamahendravaram</h3>

<div style="color:white;text-align: center;">
	<p>The State government has designated 15 private hospitals as COVID hospitals in Kakinada and Rajamahendravaram cities in East Godavari district to tackle the spread of the dreaded disease.

By Sunday, as many as 27 hospitals including three government hospitals have been designated as COVID-19 hospitals, providing critical care treatment for those battling for life with the COVID in the district.

The COVID-19 services are available in the designated hospitals from Sunday and coordinators have been appointed to each private hospital, ensuring better medical services, apart from monitoring the COVID care mechanism.

In an official release, East Godavari Collector D.Muralidhar has said that the hospital coordinators deployed at the designated private hospitals would register Covid cases, maintain data on the discharge of the patients and run help desks to guide the patients round the clock. The help desks would be run under the aegis of the District Coordinator of Hospitals Services.
In Rajamahendravaram city, Gandhi Hospitals, Annapurna Hospital, Sri Ravi Hospital and R.S.Neuro Multi Specialty hospitals have been designated as COVID hospitals.
</p>
</div>
<div style="text-align: center;color:white">
	<h1 >HOSPITALS SERVING COVID</h1>
	<div style="color:white;">
	<a href="https://www.srikiran.org/" style="color:white;"> Srikiran Institute of Ophthalmology</a><br>
	<a href="06304504806" style="color:white;">Phone:063045 04806</a><br><br><br>

	<a href="http://www.hopeinternationalhospital.com/" style="color:white;"> Hope International Hospital</a><br>
	<a href="08842370777" style="color:white;">Phone: 0884 237 0777</a><br><br><br>

	<a href="http://www.gslmc.com/" style="color:white;"> GSL Medical College & General Hospital</a><br>
	<a href=" 08832484999" style="color:white;">Phone: 0883 248 4999</a><br><br><br>

	<a href="https://www.kims.in/" style="color:white;"> Konaseema Inst. of Medical Sciences Research Foundation</a><br>
	<a href="08856239999" style="color:white;">Phone:088562 39999</a><br><br><br>

	<a href="http://www.ap.gov.in/contacts/hospitals/" style="color:white;">Government District Hospital RJY</a><br>
	<a href="08832422202" style="color:white;">Phone:0883 242 2202</a><br><br><br>

	<a href="https://www.kimshospitals.com/rajahmundry/" style="color:white;">KIMS Hospital</a><br>
	<a href="08832477779" style="color:white;">Phone:0883 247 7779</a><br><br><br>

	<a href="#" style="color:white;">Apple Hospitals</a><br>
	<a href="08790499777" style="color:white;">Phone:087904 99777</a><br><br><br>

	<a href="https://newlifepkl.com/" style="color:white;">NEW LIFE Emergency & Super Speciality Hospital</a><br>
	<a href="08143919199" style="color:white;">Phone:081439 19199</a><br><br><br>
	</div>


<p style="color:white">@copyright2021</p>
</div>
<h5 style="text-align:center;color:black;border-radius:1000px;">@ssr-developers-2021</h5>
</div>


{% endblock %}